<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>

<h2>Quiz Questions</h2>

<form action="/submit_test" method="POST">

{% for q in questions %}

<p>
<b>{{ loop.index }}. {{ q[2] }}</b>
</p>

<input type="radio" name="{{ q[0] }}" value="{{ q[3] }}"> {{ q[3] }} <br>

<input type="radio" name="{{ q[0] }}" value="{{ q[4] }}"> {{ q[4] }} <br>

<input type="radio" name="{{ q[0] }}" value="{{ q[5] }}"> {{ q[5] }} <br>

<input type="radio" name="{{ q[0] }}" value="{{ q[6] }}"> {{ q[6] }} <br>

<br>

{% endfor %}

<button type="submit">Submit Quiz</button>

</form>

</body>
</html>